html,body
{
    width: 100%;
    overflow-x: hidden;
}

body {
	color: black;
	font-weight: bold;
    background-color: ghostwhite;
    font-family: Arial, serif;
    font-size: 18px;
}


h1, h4{
	margin-right: 20px;
    text-align: center;
}

.navbar {
    margin-bottom:0;
}

.navbar-brand {
    padding-right: 8px;
}

.navbar-default .navbar-brand {
    color: #0bb711;
}

.navbar-default {
    background-color: #e6e6e6;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.social .fa-facebook:hover {
    color: #4060A5;
}

.social .fa-twitter:hover {
    color: #00ABE3;
}

.social .fa-google-plus:hover {
    color: #e64522;
}

.social .fa-linkedin:hover {
    color: #0094BC;
}

#footer-logo {
	height: 20%;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.collapse-navbar-collapse {
    background-color: #000;
}


#logo {
    height: 130px;
    width: 250px;
}

li {
    color: #3581b1;
}

#check, .fancy {
    color: #3581b1;
}

#list {
    border-width: 16px;
    border-color: #d6f2ff;
    border-style: groove;
}

#simpsons, #calculator {
    border-width: 16px;
    border-color: #d6f2ff;
    border-style: groove;
}

#map {
    border-width: 16px;
    border-color: #d6f2ff;
    border-style: groove;
    height: 325px;
}

#education {
    border-width: 10px;
    border-color: #d6f2ff;

}

#knowledge {
    position: relative;
    border-width: 0;
}

.img-responsive {
    max-width: 450px;
    height: auto;
    display: block;
}
.center-block {
    margin-left: auto;
    margin-right: auto;
}

.img-circle {
    border-radius: 50%;
    max-width: 200px;
}

body.footer-divide {
    padding-bottom: 100px;
}

body {
    margin: 0 0 100px;
}

footer {
    background-color: #e6e6e6;
    border-top: 1px solid white;
    left: 0;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

#icons {
    padding-top: 33px;
}

html {
    position: relative;
    min-height: 100%;
}

p.lead {
    font-weight: 300;
}

p.languages {
    text-transform: lowercase;
    color: #a7a9ac;
    margin-top: 0;
}

#simpsonsBackground {
    width: 100%;
    padding: 75px 100px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #777
}