body {
	color: #d6f2ff;
	font-weight: bold;
    background-color: black;
    font-family: Arial, serif;
    font-size: 18px;
}	

p {
	position: relative;
}

h1, h4, {
	margin-right: 20px;
    text-align: center;
}

.container-fluid {
	background-color: #000;
    position: relative;
    max-width: none;
    height: 100%;
}

.navbar-default .navbar-brand {
    color: #2ACC14;
    background-color: #000;
}

.navbar-default .navbar-nav>li>a {
    background-color: black;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.social .fa-facebook:hover {
    color: #4060A5;
}

.social .fa-twitter:hover {
    color: #00ABE3;
}

.social .fa-google-plus:hover {
    color: #e64522;
}

.social .fa-linkedin:hover {
    color: #0094BC;
}

#footer-logo {
	height: 20%;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.collapse-navbar-collapse {
    background-color: #000;
}

#skills {
    text-align: center;
    font-size: 40px
}

#logo {
    height: 130px;
    width: 250px;
}

li {
    color: #3581b1;
}

#check, .fancy {
    color: #3581b1;
}

#list {
    border-width: 16px;
    border-color: #d6f2ff;
    border-style: groove; 
}

#simpsons, #calculator {
    border-width: 16px;
    border-color: #d6f2ff;
    border-style: groove;
}

#map {
    border-width: 16px;
    border-color: #d6f2ff;
    border-style: groove;
    height: 325px;
}

#education {
    border-width: 10px;
    border-color: #d6f2ff;

}

#knowledge {
    position: relative;
    border-width: 0;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}
.center-block {
    margin-left: auto;
    margin-right: auto;
}

.img-circle {
    border-radius: 50%;
}