body {
    background-image: url(/img/weather4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.location {
    color: papayawhip;
}


#map {
    height: 290px;
}

.col-md-4 {
    text-align: center;
    border: 2px dotted black;
    color: aliceblue;
    background-color: lightsalmon;
    opacity: .80;
}

#headers {
    color: aliceblue;
}